#header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: red;
    text-align: center;
    font-size: 150px;
    font-weight: bolder;
    position: relative ;
    bottom: -6rem;
    
   
}
#bday {
    position: relative;
    bottom: 37rem;
    left: 28rem;   
}
.bpara {
    font-family: 'Times New Roman', Times, serif ;
    color: gray;
}
.bpa {
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.bline {
    width: 300px;
    position: relative;
    left: -35rem;
    bottom: 0.1rem;
}
.para {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    
    text-align: center;
}
.deals {
    font-family: 'Times New Roman', Times, serif;
    color: gray;
 
}
.list {
    display: inline;
    color: gray;
   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 4orem;
}
#list-wrap {
    text-align: center;
    position: relative;
    left: 5rem;
}
.deal {
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    left: 24rem;
    bottom: 14.5rem;
    font-size: 20px;
    margin: 24px;
}
.line {
    width: 300px;
    
    position: relative;
    bottom: 0.8rem;
    left: -32rem;
}
.trend-list {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 12.5rem;
    left: -35rem;
}
header {
  position: relative;
  left: 10rem;
  width: 100px;
}

#trend {
    padding-left: 10px;
    padding-right: 10px;
}
.adv {
    font-family: 'Times New Roman', Times, serif ;
    color: gray;
    position: relative;
    bottom: 0.5rem;
}
.dev {
    font-family: serif;
    color: black;
    position: relative;
    bottom: 1rem;
}
#hero {
    position: relative;
    bottom: 15rem;
}
#wrap {
    position: relative;
    bottom: 23.8rem;
    left: 25rem;
}

.linke {
    width: 200px;
    position: relative;
    left: 14rem;
    bottom: 2.1rem;
}
.lins {
    width: 200px;
    position: relative;
    left: -14rem;
    bottom: 1.7rem;
}
.text {
    font-family: 'Times New Roman', Times, serif ;
    color: gray;
}
.put {
    font-family: serif;
    color: black;
}
.score {
    width: 360px;
    position: relative;
    bottom: 0.1rem;
    left: -32rem;
}
#wrapt {
    position: relative;
    bottom: 31rem;
    left: 60rem;
}
.scored {
    width: 360px;
    position: relative;
    bottom: 0.1rem;
    left: -32rem;
}
.texty {
    font-family: 'Times New Roman', Times, serif ;
    color: gray;
}
.puty {
    font-family: serif;
    color: black;
}
#loat {
    position: relative;
    bottom: 29rem;
    left:-0.3rem;
}
.coat {
    width: 300px;
    position: relative;
    bottom: 0.1rem;
    left: -32rem;
}
.bty {
    font-family: 'Times New Roman', Times, serif ;
    color: gray;
}
.qty {
    font-family: serif;
    color: black;   
}
#blday {
    position: relative;
    bottom: 45.5rem;
    left:59rem;
}
.dline {
    width: 300px;
    position: relative;
    left: -33rem;
}
.dpara {
    font-family: 'Times New Roman', Times, serif ;
    color: gray;
}
.parag {
    font-family: serif;
    color: black;   
}

.image {
    width: 500px;
    height: 350px;
    position: relative;
    bottom: 45rem;
    border-radius: 8px;
}
#notes {
    position: relative;
    left: 32rem;
    bottom: 64rem;
}
.naira {
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-size: 30px;
}
.wristwatch{
    width: 1000px;
    height: 950px;
    position: relative;
    bottom: 55rem;
    border-radius: 8px;
}
#watch {
    position: relative;
    left: 65rem;
    bottom: 100rem;   
}
.wrist {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
#smart {
    position: relative;
    left:1.5rem;
    bottom: 65rem;   
}
.bbd {
    width: 360px;
    position: relative;
    bottom: 0.1rem;
    left: -32rem;
}
.avail {
    font-family: 'Times New Roman', Times, serif ;
    color: gray;
}
.bbf {
    font-family:'Times New Roman', Times, serif;
    color: black; 
}
#bfd {
    position: relative;
    left:25rem;
    bottom: 73rem;
}
.jline {
    width: 360px;
    position: relative;
    bottom: 0.1rem;
    left: -32rem; 
}
.jpara {
    font-family: 'Times New Roman', Times, serif ;
    color: gray;
}
.jumia {
    font-family:'Times New Roman', Times, serif;
    color: black; 
}
#adj {
    position: relative;
    left:48rem;
    bottom: 81rem;   
}
.ads {
    width: 360px;
    position: relative;
    bottom: 0.1rem;
    left: -32rem; 
}
.asj {
    font-family: 'Times New Roman', Times, serif ;
    color: gray; 
}
.addidas {
    font-family:'Times New Roman', Times, serif;
    color: black; 
}
.mouse {
    width: 900px;
    height: 850px;
    position: relative;
    bottom: 80rem;
    border-radius: 8px;   
}
.mouse-deal {
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
#mouse-wrapper {
    position: relative;
    bottom: 120rem;
    left: 60rem;
}
.trending {
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
}
.trend-div {
    position: relative;
    left: 20rem;
    bottom: 5.5rem;
}
.trend-para {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.trend-line {
    width:200px;
    position: relative;
    left: -36rem;
}
.SAN {
    position: relative;
    left: 35rem;
    bottom:12.6rem;
}
.active-para {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.active-line {
    width: 200px;
    position: relative;
    left:-35rem;
}
.all-class {
    position: relative;
bottom: 92rem;
}
.hp-deals {
    position: relative;
    left: 50rem;
    bottom:19rem;
    
}
.hp-para {
    font-family: 'Times New Roman', Times, serif;

}
.hp-line {
    width: 200px;
    position: relative;
    left:-34rem;
    bottom: -1rem;
}
.spotify {
    position: relative;
    left: 70rem;
    bottom:25.5rem;
}
.spot-para {
    font-family: 'Times New Roman', Times, serif;

}
.spot-line {
    width: 200px;
    position: relative;
    left: -36rem;
}
.cyber {
    position: relative;
    left:20rem;
    bottom:20rem; 
}

.cyber-para {
    font-family: 'Times New Roman', Times, serif;
}

.cyber-line {
    width: 200px;
    position: relative;
    left: -36rem;
}
.apple {
    position: relative;
    left: 35rem;
    bottom:12.6rem;
}