#header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: red;
    text-align: center;
    font-size: 150px;
    font-weight: bolder;
    position: relative ;
    bottom: -6rem;
    
   
}

.para {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    
    text-align: center;
}
.deals {
    font-family: 'Times New Roman', Times, serif;
    color: gray;
 
}
.list {
    display: inline;
    color: gray;
   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 4orem;
}
#list-wrap {
    text-align: center;
    position: relative;
    left: 5rem;
}


header {
  position: relative;
  left: 10rem;
  width: 100px;
}



.linke {
    width: 200px;
    position: relative;
    left: 14rem;
    bottom: 2.1rem;
}
.lins {
    width: 200px;
    position: relative;
    left: -14rem;
    bottom: 1.7rem;
}
.content-wrap {
    font-family: 'Times New Roman', Times, serif 
    ;
    font-size: 50px;
}

.twitter {
    position: relative;
    bottom: 5em;
    padding-left: 20em;
}
.twit-para {
    font-family: 'Times New Roman', Times, serif;
}
.twit-line {
    width: 23%;
    position: relative;
    left: -25em;
}
.meteor {
    position: relative;
    bottom: 12.5em;
   padding-left: 37em;
}
.meteor-para {
    font-family: 'Times New Roman', Times, serif;

}
.meteor-line {
    width: 24%;
    position: relative;
left: -16em
}
.HP-wrapper {
    position: relative;
    bottom: 20em;
   padding-left:50em;
}
.HP-para {
    font-family: 'Times New Roman', Times, serif;
}
.Hline {
    width: 40%;
    position: relative;
    left: -9.6em;
}
.spotify-wrapper {
    position: relative;
    bottom: 27.6em;
    padding-left: 65em;
}
.spot-para {
    font-family: 'Times New Roman', Times, serif;
}
.spot-line {
    width: 100%;
    position: relative;
    left: -2em;
}

.sonos-wrapper {
    position: relative;
    bottom: 25em;
    padding-left: 20em;
}
.sonos-para {
    font-family: 'Times New Roman', Times, serif
}
.sonos-line {
    width: 25%;
    position: relative
    ;
    left: -25em;
}
.cyber-wrapper {
    position: relative;
    bottom: 33em;
    margin-left: 38em;
} 
.cyber-para {
    font-family: 'Times New Roman', Times, serif;
}
.cyber-line {
    width: 30%;
    position: relative;
    left: -15em
}
.mon-wrapper {
    position: relative;
    bottom: 41em;
    padding-left: 52em;
}
.mon-para {
    font-family: 'Times New Roman', Times, serif;
}
.mon-line {
    width:40%;
position: relative;
left: -8em
}
.super-wrapper {
    position: relative;
    bottom: 48.6em;
    padding-left: 65em;
}
.super-para {
    font-family: 'Times New Roman', Times, serif;
}
.super-line {
    width: 22%
}
.last-line {
    position: relative;
    bottom: 46em;
}
.latest {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    bottom: 15em;
    font-size: 50px;
}
.target {
    position: relative;
bottom: 50em;
padding-left: 20em;
}
.target-head {
    font-family:'Times New Roman', Times, serif ;
    color: gray;
    font-size: small;
}
.target-para {
    font-family: 'Times New Roman', Times, serif;
}
.target-line {
    width: 200px;
    position: relative;
    left: -24em;
}