* {
    cursor: pointer;
}
.contain ul {
    display: flex;
  font-size: 20px;
}

.contain ul li {
    font-size: 20px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px ;
    text-align: center;
    cursor: pointer;
   position: relative;
   bottom: -1rem;
}

.contain ul li:hover {
    color: red;
}
.desc {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative
    ;
    bottom: -50em;
}
.input-box {
    position: relative;
    bottom: 
    15rem;
    left: 5rem;
}
.search-bar {
    padding: 10px;
    width: 500px;
}
.para-text {
    font-family: 'Times New Roman', Times, serif;
font-size: 35px;
position: relative;
bottom: 27rem;
color: white;
padding-left: 3em;
}
.text {
    font-family: 'Times New Roman', Times, serif;
font-size: 17px;
position: relative;
bottom: 28rem;
color: white;
padding-left: 6em;
}
.image {
    width:30%;
    position: relative;
bottom: 5rem;
height: 500px;
}
.images {
    height: 500px;
    position: relative;
    bottom:5em;
    width: 31.5%;
    left: 6.7em;
}
.wall {
    width:30%;
    position: relative;
    bottom: 5em;
    height: 500px;
    left: 4em;
}

.Hero-Images {
    position: relative;
    bottom:7rem;
}
.food {
    position: relative;
    bottom: 8em;
    height: 500px;
    width: 30%
}
.wallpaper {
    width: 30%;
    height: 500px;
    position: relative;
    bottom: 9rem;
    left: 4.8rem;
}
.room {
    width: 31%;
    position: relative;
    left: 55em;
    bottom: 39em;
    height: 250px;

}
.teen {
    width: 30%;
    height: 220px;
    position: relative;
    left: 31em;
    bottom: 23.6em;
}
.file {
    width: 30%;
    height: 500px;
    position: relative;
    bottom: 22em;
}
.beauty {
    width: 30%;
    height: 250px;
    position: relative;
    bottom: 52em;
    left: 28.6em
}
.Beach {
    width: 30%;
    height: 220px;
    position: relative;
    bottom: 37.7em;
    left: 4.69em;
}
.road {
    width:30%;
    height: 250px;
    position: relative;
    bottom: 66em;
    left: 56em;
}
.space {
    width: 30%;
    height: 220px;
    position: relative;
    bottom: 51.5em;
    left: 32.5em;
}

.smoke {
    position: relative;
    bottom: 50em;
    width: 30%;
}
.blackhole {
    position: relative;
    bottom: 36em;
    left: -24em;
    width: 30%;
}
.door {
    position: relative;
    bottom: 68em;
    left: 28.7em;
    width: 30%;
    height: 520px;
}
.slik {
    position: relative;
    bottom: 97em;
    left: 56em;
    width: 30%;
    height: 300px;
}
.snowtree {
 position: relative;
 bottom: 84em;  
 left:32.5em; 
 width: 30%;
 height: 200px;
}
.burger {
    width: 30%;
    position: relative;
    bottom: 84em;
    height: 200px;
}
.model {
    width: 30%;
    position: relative;
    bottom: 72em;
    left: -24em;
    height: 200px;
}
.vine {
    width: 30%;
    height: 200px;
    position: relative;
    bottom: 97em;
    left: 28.7em;
}
.sandfloor {
    position: relative;
    bottom: 84.1em;
    height: 200px;
    width: 30%;
    left: 4.8em;
}
.baki {
    position: relative;
    bottom: 107em;
    width: 30%;
    height:425px;
    left: 56.5em;
}
.cave {
    width: 30%;
    height: 400px;
    position: relative;
    bottom: 108em;
}
.woman {
    width:30%;
  position: relative;
  bottom: 83em;
  left: -24em;
    height: 400px
}
.street {
    width: 30%;
    height: 810px;
    position: relative;
    bottom: 131.5em;
    left: 28.6em;
}
.desk {
    width: 30%;
    position: relative;
    bottom: 178em;
    left: 56.5em;
}
.dev {
    width: 30%;
    position: relative;
    bottom: 160em;
    left: 32.7em;
}
.unsplash {
    width: 30%;
    position: relative;
bottom: 147.4em;
height: 200px;
left: 9em;
}