* {
    cursor: pointer;
}
.contain ul {
    display: flex;
  font-size: 20px;
}

.contain ul li {
    font-size: 20px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px ;
    text-align: center;
    cursor: pointer;
   position: relative;
   bottom: -1rem;
}

.contain ul li:hover {
    color: red;
}
.desc {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative
    ;
    bottom: -50em;
}
.input-box {
    position: relative;
    bottom: 
    15rem;
    left: 5rem;
}
.search-bar {
    padding: 10px;
    width: 500px;
}
.para-text {
    font-family: 'Times New Roman', Times, serif;
font-size: 35px;
position: relative;
bottom: 27rem;
color: white;
padding-left: 3em;
}
.text {
    font-family: 'Times New Roman', Times, serif;
font-size: 17px;
position: relative;
bottom: 28rem;
color: white;
padding-left: 6em;
}
.image {
    width:30%;
    position: relative;
bottom: 5rem;
height: 500px;
}
.images {
    height: 500px;
    position: relative;
    bottom:5em;
    width: 31.5%;
    left: 6.4em;
}
.wall {
    width:30%;
    position: relative;
    bottom: 5em;
    height: 500px;
    left: 4em;
}

.Hero-Images {
    position: relative;
    bottom:7rem;
}
.food {
    position: relative;
    bottom: 8em;
    height: 500px;
    width: 30%
}
.wallpaper {
    width: 30%;
    height: 500px;
    position: relative;
    bottom: 8.1rem;
    left: 3.5rem;
}
.room {
    width: 30%;
    position: relative;
    left: 57em;
    bottom: 39.8em;
    height: 250px;

}
.teen {
    width: 30%;
    height: 220px;
    position: relative;
    left: 32em;
    bottom: 24.2em;
}
.file {
    width: 30%;
    height: 500px;
    position: relative;
    bottom: 22em;
}
.beauty {
    width: 30%;
    height: 250px;
    position: relative;
    bottom: 53.67em;
    left: 28.6em
}
.Beach {
    width: 30%;
    height: 220px;
    position: relative;
    bottom: 38em;
    left: 3.5em;
}
.road {
    width:30%;
    height: 250px;
    position: relative;
    bottom: 69.8em;
    left: 57.5em;
}
.space {
    width: 30%;
    height: 220px;
    position: relative;
    bottom: 54.2em;
    left: 32.5em;
}

.smoke {
    position: relative;
    bottom: 53em;
    width: 30%;
}
.blackhole {
    position: relative;
    bottom: 37em;
    left: -25.4em;
    width: 30%;
}
.door {
    position: relative;
    bottom: 70em;
    left: 28.7em;
    width: 30%;
    height: 520px;
}
.slik {
    position: relative;
    bottom: 102.8em;
    left: 58em;
    width: 30%;
    height: 300px;
}
.snowtree {
 position: relative;
 bottom: 89em;  
 left:32.7em; 
 width: 30%;
 height: 200px;
}
.burger {
    width: 30%;
    position: relative;
    bottom: 86em;
    height: 200px;
}
.model {
    width: 30%;
    position: relative;
    bottom: 72em;
    left: -25.3em;
    height: 200px;
}
.vine {
    width: 30%;
    height: 200px;
    position: relative;
    bottom: 99em;
    left: 28.7em;
}
.sandfloor {
    position: relative;
    bottom: 85em;
    height: 200px;
    width: 30%;
    left: 3.5em;
}
.baki {
    position: relative;
    bottom: 112em;
    width: 30%;
    height:425px;
    left: 58em;
}
.cave {
    width: 30%;
    height: 400px;
    position: relative;
    bottom: 110em;
}
.woman {
    width:30%;
  position: relative;
  bottom: 83em;
  left: -25em;
    height: 400px
}
.street {
    width: 30%;
    height: 820px;
    position: relative;
    bottom: 135em;
    left: 28.6em;
}
.desk {
    width: 30%;
    position: relative;
    bottom: 187em;
    left: 58em;
}
.dev {
    width: 30%;
    position: relative;
    bottom: 168em;
    left: 32.7em;
}
.unsplash {
    width: 30%;
    position: relative;
bottom: 152em;
height: 200px;
left: 7.6em;
}